html, body {
  position: relative;
}

html, body, #v-viewer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#v-viewer {
  position: absolute;
}

a {
  text-decoration: none;
}